<ion-header >
  <ion-toolbar color ="primary">
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>TellevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recuperar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <form [formGroup] ="formularioRecuperar" >
      <ion-item> 
        <ion-label position = "floating">Ingrese su correo</ion-label> 
        <ion-input formControlName = "correo"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="recuperar()">Recuperar</ion-button>
    </form>
    </ion-card-content>
  </ion-card>
</ion-content>