ion-title {
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: greenyellow;
    font-size: 24px;
    font-weight: bold;
    
  }
  ion-card{
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
  }
  ion-card-title{
    font-style: italic;
    font-weight: bolder;
  }
  ion-button{
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: greenyellow;
    font-size: 15px;
    font-weight: bold;
  }
  ion-button:hover {
    animation: vibrate 0.3s ease infinite;
  }
  
  @keyframes vibrate {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-5px);
    }
    40% {
      transform: translateX(5px);
    }
    60% {
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }