<ion-header >
  <ion-toolbar color ="primary">
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>TellevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <form [formGroup] ="formularioRegistro" >
      <ion-item> 
        <ion-label position = "floating">Nombre de Usuario</ion-label> 
        <ion-input formControlName = "username_cond"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label position = "floating">Nombre Conductor</ion-label> 
        <ion-input formControlName = "name_cond"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label position = "floating">Apellido Conductor</ion-label> 
        <ion-input formControlName = "apellido_cond"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label position = "floating">Patente Vehiculo</ion-label> 
        <ion-input formControlName = "patente"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label position = "floating">Contraseña</ion-label> 
        <ion-input formControlName = "pass_cond" type="password"></ion-input>
      </ion-item>
      <!--<ion-item> 
        <ion-label position = "floating">Confirmar contraseña</ion-label> 
        <ion-input formControlName = "pass_cond" type="password"></ion-input>
      </ion-item>-->
      <ion-item> 
        <ion-label position = "floating">Correo electronico</ion-label> 
        <ion-input formControlName = "email"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="guardar()">Registrarse</ion-button>
    </form>
    </ion-card-content>
  </ion-card>
</ion-content>
