ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 255, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(203, 181, 203, 0.18);
  }