<ion-header [translucent]="true">
  <ion-toolbar color= "#FF5733">
    <ion-title>homeUsuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-button (click)="navegarA('/Home')">Home</ion-button>
          <br>
          <ion-button (click)="navegarA('/login')">Configuración</ion-button>
          <br>
          <ion-button (click)="navegarA('/home-usuario')">Cuenta</ion-button>
        </ion-list>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
           <ion-menu-button>boton</ion-menu-button>
           <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Home</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu.
        <ion-card>
         
          <ion-card-content>
            usuario
            <!-- Agrega otros campos según tus datos de usuario -->
          </ion-card-content>
        </ion-card>
      </ion-content>
    </div>
  </ion-app>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot ="end">
    <ion-button [routerLink]="['/login'] " >Cerrar sesion</ion-button>
    </ion-buttons>
  </ion-toolbar> 

</ion-footer>
