<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="header-content">
      <div class="logo-container">
        <img src="assets/icon/technology_gps_2.svg" alt="Logo" class="logo">
      </div>
      <ion-title>TellevoApp</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Viajes</ion-card-title>
    </ion-card-header>
    <ion-card>
      <!-- Utiliza el formulario reactivo en lugar de [(ngModel)] -->
      <form [formGroup]="formularioViaje">
        <ion-item>
          <ion-label position="floating">Origen</ion-label>
          <ion-input formControlName="origen"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Destino</ion-label>
          <ion-input formControlName="destino" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Asientos Disponibles</ion-label>
          <ion-input formControlName="asientos_disp" type="text"></ion-input>
        </ion-item>
        <ion-button (click)="guardar()">Crear Viaje</ion-button>
        <ion-button (click)="verMap()">Ver Mapa</ion-button>
      </form>
      
    </ion-card>
  </ion-card>
</ion-content>

<ion-footer>

</ion-footer>
