<ion-header >
  <ion-toolbar color ="primary">
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>TellevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro Vehiculo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <form [formGroup] ="formularioRegistroAuto" >
      <ion-item> 
        <ion-label position = "floating">Patente</ion-label> 
        <ion-input formControlName = "patente"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label position = "floating">Marca</ion-label> 
        <ion-input formControlName = "marca"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label position = "floating">Modelo</ion-label> 
        <ion-input formControlName = "modelo"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label position = "floating">Color</ion-label> 
        <ion-input formControlName = "color"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label position = "floating">Cantidad de asientos</ion-label> 
        <ion-input formControlName = "cant_asiento"></ion-input>
      </ion-item>
      <br>
      <ion-button [routerLink]="['/registro']" (click)="guardarAuto()"  >Registrar Vehiculo</ion-button>
    </form>
    </ion-card-content>
  </ion-card>
</ion-content>